@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.quiz-container {
    color: #4b4b4b;
    background-color: #ffffff;
    width: 600px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
}

.quiz-header {
    padding: 2rem;
}

h2 {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 1rem;
}

ul li {
    font-size: 1.2rem;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8e44ad;
    border-radius: 0px 0px 10px 10px;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    border: none;
    padding: 2rem;
    font-size: 1.3rem;
    width: 100%;
}

button:hover {
    background-color: #732d91;
}

.final-score {
    text-align: center;
    padding: 1rem;
}